include README.rst
include cubemx2cmake/CMakeLists.txt.template
include cubemx2cmake/STM32Toolchain.cmake.template
include cubemx2cmake/openocd_debug.cfg.template
include cubemx2cmake/openocd_flash.cfg.template